.hero-height {
  min-height: 500px;
  height: calc(100svh - 6rem);
  max-height: 1080px;
  margin-top: 6rem;
  @media (max-width: 640px) {
    height: calc(100svh - 4.5rem);
    margin-top: 4.5rem;
  }
}
