@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-desktop-height-big: 12rem;
  --header-desktop-height-small: 6rem;
  --header-mobile-height: 5.5rem;
}

html {
  scroll-padding-top: calc(var(--header-desktop-height-small) + 1rem);
  @media (max-width: 640px) {
    scroll-padding-top: var(--header-mobile-height);
  }
}

.gold-gradient {
  background: linear-gradient(
    189deg,
    #ceb533,
    #70652e 22.25%,
    #ac9f5b 46.73%,
    #756b34 75.09%,
    #292407 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
