@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-desktop-height-big: 10rem;
  --header-desktop-height-small: 6rem;
  --header-mobile-height: 5.5rem;
}

html {
  scroll-padding-top: calc(var(--header-desktop-height-small) + 1rem);
  @media (max-width: 640px) {
    scroll-padding-top: calc(var(--header-mobile-height) + 1rem);
  }

  // SCROLL BAR STYLES
  &::-webkit-scrollbar {
    width: 8px; // Adjust scrollbar width
  }

  &::-webkit-scrollbar-track {
    background: #2f2f2fc8; // Scrollbar track color
    border-radius: 4px; // Rounded corners
  }

  &::-webkit-scrollbar-thumb {
    background-color: #70652ea6; // Scrollbar thumb color
    border-radius: 4px; // Rounded corners
    border: 2px solid #2f2f2fc8; // Space around the thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #70652e; // Thumb color on hover
  }
}

.gold-heading {
  @apply font-cormorant uppercase tracking-wide gold-gradient;
}

.gold-statement {
  @apply font-jura uppercase tracking-wide gold-gradient;
}

.gold-heading-section {
  @apply gold-heading text-2xl md:text-3xl;
}

.gold-gradient {
  background: linear-gradient(
    258.35deg,
    #ceb533 0%,
    #70652e 22.25%,
    #ac9f5b 46.73%,
    #756b34 75.09%,
    #292407 99.99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

// .textShadowMd {
//   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
// }

.link {
  @apply underline underline-offset-2 hover:decoration-2;
}

.red-veil {
  @apply font-cormorant uppercase tracking-wide red-gradient;
}

.red-gradient {
  background: linear-gradient(
    258.35deg,
    #ff4d4d 0%,
    #cc0000 22.25%,
    #b30000 46.73%,
    #800000 75.09%,
    #4d0000 99.99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
